<section>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Enter City Name" ngModel name="name" required #nameInput="ngModel">
      <mat-error *ngIf="nameInput.hasError('required')">Must not be empty</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Enter City Description" ngModel name="description" required
        #descInput="ngModel">
      <mat-error *ngIf="descInput.hasError('required')">Must not be empty</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>